
@media (min-width: 769px) {
    .header {
        text-align: center;
        width: 100%;
        background-repeat: no-repeat;
        height: 540px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imges/Header_pc.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 670px;
    }
    .login_wrapper {
        display: flex;
        justify-content: space-between;
        order: 2;
    }
    .header_cont {
        margin: 0 auto;
        width: 940px;
        text-align: center;
    }
    .login {
        padding: 12px 18px 10px 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login_text {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .sing_in {
        padding: 12px 18px 10px 19px;
    }
    .name {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        order: 1;
    }
    .share_holiday {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 30.01471px;
        font-weight: 700;
        margin-top: 38px;
        margin-bottom: 19px;
    }
    .login:hover {
        border: 2px solid #ffffffff;
        border-radius: 36px;
    }
    .sing_in:hover {
        border: 2px solid #ffffff;
        border-radius: 36px;
    }
    .share_find {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 18.00883px;
        font-weight: 300;
        width: 217px;
        margin: 0 auto;
    }
    .btn_find {
        background-color: #ff4e50;
        outline: none;
        border: none;
        padding-right: 52px;
        padding-bottom: 12px;
        padding-top: 14px;
        padding-left: 51px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 36px;
        margin-top: 19px;
    }
}
@media (min-width: 768px) {
    .header {
        text-align: center;
        width: 100%;
        background-repeat: no-repeat;
        height: 540px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imges/Header_pc.png);
        background-repeat: no-repeat;
        background-position: center;
    }
    .head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 670px;
    }
    .login_wrapper {
        display: flex;
        justify-content: space-between;
        order: 2;
    }
    .login {
        padding: 12px 18px 10px 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login_text {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .sing_in {
        padding: 12px 18px 10px 19px;
    }
    .name {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        order: 1;
    }
    .share_holiday {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 30.01471px;
        font-weight: 700;
        margin-top: 38px;
        margin-bottom: 19px;
    }
    .login:hover {
        border: 2px solid #ffffffff;
        border-radius: 36px;
    }
    .sing_in:hover {
        border: 2px solid #ffffff;
        border-radius: 36px;
    }
    .share_find {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 18.00883px;
        font-weight: 300;
        width: 217px;
        margin: 0 auto;
    }
    .btn_find {
        background-color: #ff4e50;
        outline: none;
        border: none;
        padding-right: 52px;
        padding-bottom: 12px;
        padding-top: 14px;
        padding-left: 51px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 36px;
        margin-top: 19px;
    }
}
@media (max-width: 322px) {
    .header {
        text-align: center;
        width: 100%;
        background-repeat: no-repeat;
        height: 540px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../imges/Header.png);
        background-repeat: no-repeat;
    }
    .login_wrapper {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 115px;
        padding-top: 21px;
    }
    .login {
        padding: 12px 18px 10px 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login_text {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-weight: 700;
    }

    .sing_in {
        padding: 12px 18px 10px 19px;
    }
    .name {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .share_holiday {
        color: #ffffff;
        font-family: 'Montserrat', sans-serif;
        font-size: 30.01471px;
        font-weight: 700;
        margin-top: 38px;
        margin-bottom: 19px;
    }
    .login:hover {
        border: 2px solid #ffffffff;
        border-radius: 36px;
    }
    .sing_in:hover {
        border: 2px solid #ffffff;
        border-radius: 36px;
    }
    .share_find {
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 18.00883px;
        font-weight: 300;
        width: 217px;
        margin: 0 auto;
    }
    .btn_find {
        background-color: #ff4e50;
        outline: none;
        border: none;
        padding-right: 52px;
        padding-bottom: 12px;
        padding-top: 14px;
        padding-left: 51px;
        font-family: 'Roboto', sans-serif;
        color: #ffffff;
        font-size: 14px;
        font-weight: 700;
        border-radius: 36px;
        margin-top: 19px;
    }
}
