.are {
    width: 100%;
}

.are_wrapper {
    width: 262px;
    text-align: center;
    margin: 0 auto;
}
.are_upper_text {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 23px;
}
.are_text {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin-top: 0;
}
.are_text::after {
    content: "";
    margin: 32px auto 0 auto;
    width: 60px;
    height: 3px;
    display: block;
    background-color: #f38181;
}
.are_sub_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
}
.are_sub_text_wrapper {
    width: 940px;
    margin: 0 auto;
    text-align: center;
    margin-top: 46px;
    margin-bottom: 90px;
}

/* Сам тім */

.team {
    width: 100%;
    margin-bottom: 45px;
}

.team_wrapper {
    width: 1201px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.team_img {
    width: 383px;
    height: 473px;
}

.team_text_wrapper {
    width: 190px;
    text-align: center;
    margin: 0 auto;
}

.team_text {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
    margin-top: 30px;
    margin-bottom: 15px;
}

.team_sub_text {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
}
