.main {
    padding-top: 178px;
}
.work {
    width: 100%;
    margin-bottom: 66px;
}

.work_text {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 23px;
}
.work_wrapper {
    width: 320px;
    margin: 0 auto;
    text-align: center; 
}
.work_subText {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #333333;
    margin-top: 0;
}
.work_subText::after {
    content: "";
    margin: 32px auto 0 auto;
    width: 60px;
    height: 3px;
    display: block;
    background-color: #f38181;
}
.services {
    width: 100%;
}

.services_div {
    width: 350px;
    margin-bottom: 101px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.services_wrapper {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services_div_zag {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #666666;
}

.services_div_content {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #999999;
    font-style: normal;
}

.services_text_wapper {
    width: 270px;
    display: inline-block;
}

.margin_bottom {
    margin-bottom: 92px;
}
.alarm::before {
    content: "";
    background-image: url("../imges/ALARM.png");
    display: block;
    width: 32px;
    height: 32px;
}
.line_graph::before {
    content: "";
    background-image: url("../imges/LINE_GRAPH.png");
    display: block;
    width: 32px;
    height: 32px;
}
.computer::before {
    content: "";
    background-image: url("../imges/COMPUTER.png");
    display: block;
    width: 32px;
    height: 32px;
}
.book::before {
    content: "";
    background-image: url("../imges/BOOK.png");
    display: block;
    width: 32px;
    height: 32px;
}
.home::before {
    content: "";
    background-image: url("../imges/HOME.png");
    display: block;
    width: 32px;
    height: 32px;
}
.photo::before {
    content: "";
    background-image: url("../imges/IMAGE.png");
    display: block;
    width: 32px;
    height: 32px;
}